<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MageSuite_LazyResize::config_imagesoptimization" title="MageSuite Images Optimization"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="MageSuite_LazyResize::api" title="Lazy resize API" sortOrder="800">
                    <resource id="MageSuite_LazyResize::add_file_size" title="Update images file sizes" sortOrder="200" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
