<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <images_optimization>
                <images_optimization_level>0</images_optimization_level>
            </images_optimization>
        </dev>
        <images>
            <images_optimization>
                <enable_optimization>0</enable_optimization>
            </images_optimization>
            <url_generation>
                <include_image_file_size_in_url>0</include_image_file_size_in_url>
            </url_generation>
        </images>
    </default>
</config>
