<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="MageSuite_LazyResize" setup_version="1.0.0">
        <sequence>
            <module name="MageSuite_Frontend" />
            <module name="Magento_Catalog" />
        </sequence>
    </module>
</config>
