<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content">
        <plugin name="replace_original_urls_with_resized_versions"
                type="MageSuite\LazyResize\Plugin\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content\ReplaceOriginalUrlsWithResizedVersions"
                sortOrder="50"/>
    </type>
</config>
