<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="images" translate="label" type="text" sortOrder="920" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Images</label>
            <tab>magesuite</tab>
            <resource>Magento_Backend::dev</resource>
            <group id="images_optimization" translate="label" type="text" sortOrder="250" showInDefault="1">
                <label>Images Optimization</label>
                <field id="enable_optimization" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Images Optimization</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>